<h3><%= @user.username %>'s Bookcase</h3>

<% to_read = @user.books.collect {|book| book.to_read} %>
<% have_read = @user.books.collect {|book| !book.to_read} %>

<h4>To Read</h4>
<% to_read.each do |book| %>
  <p><a href="/books/#{book.id}"><%= book.title %></a></p>
  <p>&nbsp&nbsp&nbsp-&nbsp<%= book.author %></p>
  <br></br>
<% end %>

<br></br>
<br></br>

<h4>Have Read</h4>
<% have_read.each do |book| %>
  <p><a href="/books/#{book.id}"><%= book.title %></a></p>
  <p>&nbsp&nbsp&nbsp-&nbsp<%= book.author %></p>
  <br></br>
<% end %>
