<h2>Edit Book Details</h2>

<form method="patch" action="/books/<%= @book.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" id="title" name="title" placeholder="<%= @book.title">
  <br></br>
  <input type="text" id="title" name="title" placeholder="<%= @book.title">
  <br></br>
  <input type="radio" id="to_read" name="to_read" <%='checked' if @book.to_read %>To Read</input>
  <input type="radio" id="to_read" name="to_read" <%='checked' if !@book.to_read %>Have Read</input>
  <input type="submit" value="Edit Book">
</form>
